@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

/* font-family: 'Nova Square', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif; */

.b {
  background-image: url(../src/assets/img/bb1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2000%;
  /* backdrop-filter: blur(50px); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}
.borderGrad {
  border: 2.4px solid transparent;
  background: linear-gradient(to left, #2e9df6, #975ba3) border-box;
  border-radius: 50em;
  /* padding: 25px; */
}

.b2 {
  background-image: url(../src/assets/img/bb1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4000%;
  /* backdrop-filter: blur(50px); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.bb {
  background-image: url(../src/assets/img/bb1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9000%;
  /* -ms-zoom: 50%; */
  /* transform: sca; */
}

.in {
  font-family: "Roboto", sans-serif;
  -webkit-text-stroke-width: 1.5px;
  letter-spacing: 2px;
  -webkit-text-stroke-color: black;
  color: white;
}

.back {
  background-image: url(./assets/img/bg1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.borr > .bor > .borrrr {
  border-top: 1px solid #35384a;
  /* border-top: 0px solid;
  border-t-[1px] border-[#c3c8ce] */
}
.borr > .bor > .borrrr:hover {
  border-top: 1px solid transparent;
  /* border-top: 0px solid;
  border-t-[1px] border-[#c3c8ce] */
}
.borr > .bor :nth-child(2) {
  border-top: 0px solid transparent;
  /* border-top: 0px solid;
  border-t-[1px] border-[#c3c8ce] */
}

.borr > .borrr {
  border-top: 1px solid #c3c8ce;
  /* border-top: 0px solid;
  border-t-[1px] border-[#c3c8ce] */
}
.borr :nth-child(1) {
  border-top: 0px solid transparent;
  /* border-top: 0px solid;
  border-t-[1px] border-[#c3c8ce] */
}

.input::placeholder {
  color: rgb(157, 157, 157);
  font-family: work;
  font-weight: 500;
  /* letter-spacing: 5px; */
}

::-webkit-scrollbar {
  /* height: 3px; */
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  transition: 0.5s;
  width: 2px;
  border-radius: 50px;
  margin: 0px 550px;
  max-height: 50%;
  height: 50%;
  /* padding-left: 300px; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.neo {
  /* border-radius: 46px; */
  background: #f1f3f6;
  box-shadow: 11px 11px 23px #e3e4e7, -11px -11px 23px #ffffff;
}

.neoout {
  /* border-radius: 46px; */
  /* background: #f1f3f6; */
  box-shadow: 11px 11px 23px #e3e4e7, -11px -11px 23px #ffffff;
}

/* ---------------- */
.dot-gathering {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #cdd8dd;
  color: transparent;
  margin: -1px 0;
  /* filter: blur(2px); */
}
.dot-gathering::before,
.dot-gathering::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -50px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #cdd8dd;
  color: transparent;
  opacity: 0;
  /* filter: blur(2px); */
  animation: dot-gathering 2s infinite ease-in;
}
.dot-gathering::after {
  animation-delay: 0.5s;
}

@keyframes dot-gathering {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  35%,
  60% {
    opacity: 1;
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

/*  */

em-emoji-picker {
  background-color: 61, 115, 125;
}

/* -------------------- */
@font-face {
  font-family: wakanda;
  src: url(./assets/font/WAKANDA\ PANTHER.ttf);
}

@font-face {
  font-family: rubikone;
  src: url(./assets/font/RubikDoodleTriangles-Regular.ttf);
}

@font-face {
  font-family: rubiktwo;
  src: url(./assets/font/RubikMaps-Regular.ttf);
}

@font-face {
  font-family: nunitosans;
  src: url(./assets/font/Onest-VariableFont_wght.ttf);
}

@font-face {
  font-family: nova;
  src: url(./assets/font/Nova_Square/NovaSquare-Regular.ttf);
}

@font-face {
  font-family: rale;
  src: url(./assets/font/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
  font-family: chivo;
  src: url(./assets/font/ChivoMono-Regular.ttf);
}

@font-face {
  font-family: rubik;
  src: url(./assets/font/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: google;
  src: url(./assets/font/Product\ Sans\ Regular.ttf);
}
/* input[type="file"] {
  opacity: 0;
} */

.pullse {
  background-color: #222;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #1b202d;
  }
  50% {
    background-color: #96df73;
  }
  100% {
    background-color: #1b202d;
  }
}

.gradients {
  /* background-image: linear-gradient(to right, #b8dedf 30px, #8db9aa); */
  background: #b8dedf;
}

.gradient {
  background-image: linear-gradient(to top, #fce9ed, #d9e1e4);
}

.gradientss {
  background-image: linear-gradient(to bottom, #fce9ed, #d9e1e4);
}

.gradintss:hover {
  background-image: linear-gradient(to right, #b8dedf, #8db9aa);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Noto+Sans+JP:wght@100;200;300;400;500;600&family=Noto+Sans:wght@100;200;300;400&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@100;200;300;400;500&display=swap");

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif; 
*/

input::placeholder {
  color: #5e5e5e;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Noto Sans", sans-serif; */
  /* font-family: "Noto Sans JP", sans-serif; */
  /* font-family: "Ubuntu", sans-serif; */
  /* font-family: "Work Sans", sans-serif; */
  font-weight: 400;
}

.log::placeholder {
  color: #6d6d6d;
  font-family: google;
  font-size: 15px;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Noto Sans", sans-serif; */
  /* font-family: "Noto Sans JP", sans-serif; */
  /* font-family: "Ubuntu", sans-serif; */
  /* font-family: "Work Sans", sans-serif; */
  font-weight: 400;
}

@font-face {
  font-family: workt;
  src: url(./assets/font/Mukta-Regular.ttf);
}
@font-face {
  font-family: work;
  src: url(./assets/font/Mukta-Light.ttf);
}
@font-face {
  font-family: ubu;
  src: url(./assets/font/Ubuntu-Light.ttf);
}

/* --------------------------------- */

.btn {
  position: relative;
  /* padding: 1.4rem 4.2rem;
  padding-right: 3.1rem;
  font-size: 1.4rem; */
  color: var(--inv);
  /* letter-spacing: 1.1rem; */
  /* text-transform: uppercase; */
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: var(--def);
  transition-delay: 0.2s;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: #b8dedf;
  transition-delay: 0.35s;
}

.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

/* ----------- */

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, white 94%, #0000) top/4px 4px
      no-repeat,
    conic-gradient(#0000 30%, white);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

/* -------------------------------------- */

/* .progress {
  position: relative;
  height: 10px;
  width: 1110%;
  border: 10px solid #f4a261;
  border-radius: 15px;
} */

/* .progress {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
} */

.loader4 {
  width: 100%;
  height: 4px;
  display: inline-block;
  border-radius: 50px;
  /* position: relative; */

  /* background: #1b202d; */
  overflow: hidden;
}
.loader4 {
  content: "";
  box-sizing: border-box;
  width: 0;

  height: 4px;
  border-radius: 50px;
  /* background: #4b93b9; */
  /* position: absolute; */
  top: 0;
  left: 0;
  animation: animFw1 4s linear infinite;
}

@keyframes animFw1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.bggOne {
  background: conic-gradient(#f7ec7d, #e38f66);
  rotate: -90deg;
}
.bggTwo {
  background: conic-gradient(#50e6ff, purple);
  rotate: 90deg;
}

/*  */

svg text {
  font-family: "Roboto", sans-serif;
  stroke: white;
  color: #ffb6b5;
  font-size: 70px;
  /* stroke-width: 2px; */
  animation: textanimation 5s infinite alternate;
  /* font-family: "Mukta", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  /* color: transparent; */
}

@keyframes textanimation {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 10%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -10%;
  }
}

/* --------------------- */
em-emoji-picker {
  --background-rgb: 61, 115, 125;
  font-family: rubik;
  /* --border-radius: 24px; */
  /* --category-icon-size: 24px; */
  --color-border-over: rgba(0, 0, 0, 0.1);
  --color-border: rgba(0, 0, 0, 0.05);
  --font-family: "Comic Sans MS", "Chalkboard SE", cursive;
  --font-size: 20px;
  --rgb-accent: 52, 151, 169;
  --rgb-background: 41, 48, 64;
  --rgb-color: 255, 255, 255;
  --rgb-input: 58, 109, 119;
  /* --shadow: 5px 5px 15px -8px black; */

  /* height: 50vh;
  min-height: 400px;
  max-height: 800px; */
  /* width: 400px; */
  /* min-width: 250px;
  resize: horizontal;
  overflow: auto; */
}

/*  */
input {
  background-image: none;
}

/* ------ */

.pulse {
  /* margin: 100px; */
  /* display: block; */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* background: #cca92c; */
  cursor: pointer;
  box-shadow: 0 0 0 #96df73;
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #96df73;
  }
  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #96df73;
    box-shadow: 0 0 0 0 #96df73;
  }
  70% {
    -moz-box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.pulsew {
  /* margin: 100px; */
  /* display: block; */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* background: #cca92c; */
  cursor: pointer;
  box-shadow: 0 0 0 #ffd557;
  animation: pulsew 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulsew {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffd557;
  }
  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulsew {
  0% {
    -moz-box-shadow: 0 0 0 0 #ffd557;
    box-shadow: 0 0 0 0 #ffd557;
  }
  70% {
    -moz-box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 6px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.loader {
  width: 4px;
  /* height: 10px; */
  border-radius: 4px;
  /* display: block; */
  /* margin: 20px auto; */
  /* position: relative; */
  margin-left: 3px;
  margin-right: 3px;
  background: currentColor;
  color: #96df73;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: "";
  width: 8px;
  /* height: 10px; */
  border-radius: 4px;
  background: currentColor;
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
  /* left: 20px; */
  animation: animloader 0.3s 0.45s linear infinite alternate;
}
.loader::before {
  /* left: -20px; */
  animation-delay: 0s;
}

.loader1 {
  width: 4px;
  /* height: 10px; */
  border-radius: 4px;
  /* display: block; */
  /* margin: 20px auto; */
  /* position: relative; */
  background: currentColor;
  color: #96df73;
  animation: animloader1 0.3s 0.3s linear infinite alternate;
}

.loader1::after,
.loader1::before {
  content: "";
  width: 8px;
  /* height: 10px; */
  border-radius: 4px;
  background: currentColor;
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
  /* left: 20px; */
  animation: animloader1 0.3s 0.45s linear infinite alternate;
}
.loader1::before {
  /* left: -20px; */
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 20px;
  }
  100% {
    height: 4px;
  }
}
@keyframes animloader1 {
  0% {
    height: 4px;
  }
  100% {
    height: 14px;
  }
}

/* 
 */
